---
# MySQL
mysql_root_password: myrootpassword
mysql_dbname:        mydatabasename
mysql_username:      myusername
mysql_password:      mypassword

# set seed_database to false if you don't want to seed the database
seed_database: false
seed_database_file: /vagrant/docs/mydatabasebackup.sql

# Apache vhost
server_name:        example.dev
server_ngrok_alias: example
apache_doc_root:    /public
apache_additional: |
        SetEnv APPLICATION_ENV vagrant

# Install XHGui profiler?
install_profiler: false
